.OCIcon {
    position: relative;

    display: inline-block;
    height: inherit;
    box-sizing: border-box;
}

.OCIconClickable {
    cursor: pointer;
}

.OCIcon img {
    position: absolute;

    height: inherit;
    max-height: 80px;
}

.OCIcon .OCIconLight {
    opacity: 0.1;

    transition: all 0.5s;
}

.OCIconGlow:hover .OCIconLight {
    opacity: 1.0;
    filter: blur(5px);
}
