.TopBar {
    text-align: center;
}

.TopBar-Header {
    background-color: rgb(78, 78, 78);
    height: 70px;
    padding: 10px;
    color: white;
}

.TopBar .OCIcon {
    float: left;
    clear: both;
}