.TopBar {
    display: block;
    height: 80px;

    box-sizing: content-box;
    text-align: center;
    flex: initial;
}

.TopBar-Header {
    height: calc(100% - 20px);
    padding: 10px;
}

.TopBar .OCIcon {
    height: 100%;
    float: left;
    clear: both;
}